.controls-container {
  position: relative;
  user-select: none;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.joystick-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.joystick-label {
  font-size: 0.8rem;
  color: #a0a0c0;
  font-weight: 500;
}

.joystick-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.joystick-base {
  width: 100px;
  height: 100px;
  background: rgba(42, 42, 74, 0.7);
  /* opacity: 0.5; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.joystick-base::after {
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, #3a3a5a, #2a2a4a);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.joystick-handle {
  width: 40px;
  height: 40px;
  background: #ff3c3c;
  border: 2px solid #ff3c3c;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
  /* transition: transform 0.1s ease-out; */
}

.joystick-handle::after {
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  top: 15%;
  left: 15%;
}

.function-section {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: flex-end;
}

.function-buttons {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-top: 80px;
}

.function-btn {
  width: 45px;
  height: 25px;
  background: #3a3a5a;
  opacity: 0.6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  touch-action: manipulation;
}

.function-btn:active {
  background: #4a4a6a;
  transform: scale(0.95);
}

.buttons-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  flex: 1;
}

.buttons-label {
  font-size: 0.8rem;
  color: #a0a0c0;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  gap: 15px;
}

.action-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: linear-gradient(145deg, #00dbde, #0099cc);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 16px rgba(0, 155, 204, 0.4);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
  user-select: none;
  position: relative;
  touch-action: manipulation;
}

.action-btn:active {
  transform: scale(0.9);
  box-shadow: 0 3px 8px rgba(0, 155, 204, 0.4);
}

.action-btn.b-btn {
  background: linear-gradient(145deg, #ff3c3c, #c20000);
  opacity: 0.5;
  box-shadow: 0 6px 16px rgba(194, 0, 0, 0.4);
}

.action-btn.b-btn:active {
  box-shadow: 0 3px 8px rgba(194, 0, 0, 0.4);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}
@media (max-width: 1000px) {
  .controls-container {
    width: 100%;
    padding: 5px 10px;
  }
}
